#endScreen, #twoPlayerScreen, #gameScreen {
    display: none;
}
html {
    scroll-behavior: smooth; /*Sujuv scroll siht/target elemendini*/
  }
  body {
      padding: 0;
      margin: 0;
      color: #842f23;
      font-family: sans-serif;
      font-size: 18px;
      background-color: #EEE;
  }
  h1 {
      color: #000000;
      font-size: 38px;
  }
  h2 {
      font-size: 28px;
  }
  h3{
      font-size:24px;
  }
a:hover{ /*Hiirega lingi peale liikumisel tekkiv effekt*/
opacity:0.8; /*Tee element pisut läbipaistvaks*/
}

.jalus {
    text-align: center;
    background-color: #FFF;
    padding: 25px 0;
    box-shadow: 5px 5px 15px #00000057;
    color: #842f23;
    font-size: 18px;
    bottom: 0;
    position: fixed;
    width: 100%;
}
.jalus a {
    color: #ef5842;
    text-decoration: none;
}
.Terminal, .Actions, .Log {
    text-align: center;
    background-color: rgb(241, 241, 236);
    padding: 25px 25px;
    margin: 5px 200px;
    box-shadow: 5px 5px 15px #00000057;
    color: #842f23;
    font-size: 18px;
}
#PlayerHealth, .PlayerScore {
    float: left;
}
#EnemyHealth, .EnemyScore {
    float: right;
}
.Table {
    border-spacing: 15px;
    width: 100%;
}
.actionButton{
    background-color: #666666;
    width: 25%;
    height: 50px;
    color:rgb(255, 255, 255);
    font-size: 20px;
}
.actionButton:hover {
    background-color: rgb(196, 196, 196); /**/
}
.navbar {
    overflow: hidden;
    background-color: #ef5842;
    font-family: Arial;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color:#333 ;
}

p {
    margin: 5px 5px;
}

#LogPrompt {
    text-align: left;
    font-size: 15px;
    background-color: rgb(241, 241, 236);
    padding: 5px 5px;
    margin: 5px 5px;
    box-shadow: inset 0px 0px 9px #00000057;
    color: #842f23;
    min-height: 100px;
    max-height: 100px;
}